@using PMS_Frontend.Models.ViewModels.UserVM
@model DtoLogin
@{
    ViewData["Title"] = "Giriş Yap";
    Layout = "~/Views/Shared/_LayoutLR.cshtml";
}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg p-4" style="width: 400px; border-radius: 12px;">
        <div class="text-center">
            <h3 class="mb-4">Giriş Yap</h3>
        </div>

        <form asp-action="Login" method="post">
            <div class="form-group mb-3">
                <label asp-for="NickName" class="form-label"></label>
                <input asp-for="NickName" class="form-control" placeholder="Kullanıcı adınızı girin" />
                <span asp-validation-for="NickName" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" type="password" class="form-control" placeholder="Şifrenizi girin" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="d-grid">
                <button type="submit" class="btn btn-primary btn-lg">Giriş Yap</button>
            </div>
            <div class="mb-3">
                <p><a href="/User/Register" class="link-underline-primary">Hesabınız Yok Mu?</a></p>
            </div>
        </form>
    </div>
</div>
